<p>products works!</p>
<table class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Products$">
      <td><a [routerLink]="" (click)="editProduct()">{{ item.productId }}</a></td>
      <td>{{ item.productName }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </tbody>
</table> 